force-app/main/default/flows/Existing_Charts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignRowId</name>
        <label>AssignRowId</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>collectionChart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Charts.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSelectedRows</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Aesthetician_Visit</name>
        <choiceText>Eesthetician Visit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aesthetician Visit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consents</name>
        <choiceText>Consents</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Cosmetic_Visits</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cosmetic Visits&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cosmetic Visits</stringValue>
        </value>
    </choices>
    <choices>
        <name>MemberShipAgreement</name>
        <choiceText>Membership Agreement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Membership Agreement</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Cosmetic_Visit</name>
        <label>Check Cosmetic Visit</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Cosmetic_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Cosmetic_Visit_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cosmetic Visits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cosmetic_Visit_Existing</targetReference>
            </connector>
            <label>if Cosmetic Visit</label>
        </rules>
        <rules>
            <name>If_Eesthetic_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Cosmetic_Visit_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Aesthetician_Visit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Esthetician_Visit</targetReference>
            </connector>
            <label>If Eesthetic Visit</label>
        </rules>
        <rules>
            <name>If_MemberShip_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Membership_Agreement_Screen_Flow_Flow_1</targetReference>
            </connector>
            <label>If MemberShip Agreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSelectedRows</name>
        <label>CheckSelectedRows</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_nextdata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionChart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>nextdata</targetReference>
            </connector>
            <label>If true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Existing Charts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Existing Charts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Related_Charts</name>
        <label>Get Related Charts</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chart_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Chart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Chart_Screen</name>
        <label>Chart Screen</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignRowId</targetReference>
        </connector>
        <fields>
            <name>Related_Charts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Chart__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Charts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Charts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-aa87&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Chart Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_nextdata</name>
        <label>Copy 1 of nextdata</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>false</name>
            <fieldText>&lt;p&gt;Please Select a Record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>nextdata</name>
        <label>nextdata</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Cosmetic_Visit</targetReference>
        </connector>
        <fields>
            <name>Select_your_choice</name>
            <choiceReferences>Cosmetic_Visits</choiceReferences>
            <choiceReferences>Consents</choiceReferences>
            <choiceReferences>MemberShipAgreement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your choice:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Cosmetic_Visit_Type</name>
            <choiceReferences>Cosmetic_Visits</choiceReferences>
            <choiceReferences>Aesthetician_Visit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Cosmetic Visit Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_your_choice</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Cosmetic_Visits</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Charts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cosmetic_Visit_Existing</name>
        <label>Cosmetic Visit Existing</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <flowName>Cosmetic_Existing</flowName>
        <inputAssignments>
            <name>chartRecord</name>
            <value>
                <elementReference>collectionChart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Existing_Esthetician_Visit</name>
        <label>Existing Esthetician Visit</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <flowName>Aesthetician_Existing</flowName>
        <inputAssignments>
            <name>charRecordVar</name>
            <value>
                <elementReference>collectionChart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Membership_Agreement_Screen_Flow_Flow_1</name>
        <label>Membership Agreement Screen Flow Flow 1</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <flowName>Membership_Agreement_Screen_Flow</flowName>
        <inputAssignments>
            <name>ChartRecord</name>
            <value>
                <elementReference>collectionChart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ClintId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ClientRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>collectionChart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Chart__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
